.cargando {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-border {
  width: 5rem;
  height: 5rem;
  color: #1299d6;
}
.mensaje {
  color: #42b2df;
  font-weight: 700;
}
.titulo-mensaje {
  color: #066ab1;
  font-size: 28px;
  font-weight: 700;
}
