.background-main-div {
  background: #f0f9fc;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1299d6;
  opacity: 0.5; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #1299d6;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #1299d6;
}
.ui-keyboard {
  top: auto;
  bottom: 20px;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, 0);
}

.btn-salir {
  background: #c449b2;
  color: white;
  width: 140px;
}
.titulo-componente {
  background-color: #1299d6;
}
.logo {
  height: 100px;
}
.logo-container {
  padding-top: 10vh;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
  height: 110px !important;
  line-height: 110px !important;
  vertical-align: middle;
  text-align: center !important;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 0 20px !important;
  background: #b8ddf0 !important;
}
.btn-totem {
  // color: #fbfdfe !important;
  // background-color: #5fb0db;
  // border: none !important;
  // min-width: 300px;
  // font-weight: bolder;
  // font-size: 1.5rem;
  color: #fbfdfe !important;
  background-color: #42b2df;
  border: none !important;
  min-width: 300px;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 0px;
}
.btn-icono {
  width: 60px;
}
.titulo{
  color: #1067AE;
}