.test {
  background: #1299d6;
  // height:120px;
  // margin-top:30px;
  // padding:0px;
  align-items: center;
  justify-content: center;
}


.header-logo {
    width: 100%;
    max-width: 200px;
    padding: 20px;
}