#mail {
    border-color: #1299D6;
    background:white; 
    color:#1299D6
}

.confirmar-mail {
    display:none; 
    background-color:rgba(255,255,255,0.9);
    height:80%; 
    width:70%;
    position:fixed;
    top:12%;
    left:15%;
}

.input-wrapper {
    background:#F0F9FC;
}
.btn.btn-primary, .btn-success {
    color: #fbfdfe!important;
    font-weight: 400;
    font-size: 1.1rem;
    min-width: 150px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #D9EFFD!important;
    background: #8ABB6A;
}
.btn.btn-primary{
    background: #1299D6;
}
.btn-check:active+.btn-info, .btn-check:checked+.btn-info, .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle{
	color: #fbfdfe!important;
    font-weight: 400;
    font-size: 1.1rem;
    min-width: 150px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #D9EFFD!important;
    background: #1299D6;
}
.btn.btn-primary.mb-1.float-right{
	color: #fbfdfe!important;
    font-weight: 400;
    font-size: 1.1rem;
    min-width: 150px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #D9EFFD!important;
    background: #1299D6;
}
.btn-si {
    width:100px; margin:20px 20px 0 0;
}

.btn-no {
    width:100px;margin:20px 0 0 0;
}