.btn.btn-primary, .btn-success {
    color: #fbfdfe!important;
    font-weight: 400;
    font-size: 1.1rem;
    min-width: 150px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #D9EFFD!important;
    background: #8ABB6A;
}
.btn.btn-primary{
    background: #1299D6;
}
.recycle{
  background-color: #1299D6;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    line-height: 19px;
}

.modal-header{
    padding: 0;
}

.img-qr{
    margin-left: auto;
    margin-right: auto;
    display: block;
}