.background-main-div {
  background: #f0f9fc;
}
.float-left {
  float: left;
}
.input-recupero-plan-federal {
  border-color: #1299d6;
  background: white;
  color: #1299d6;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1299d6;
  opacity: 0.5; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #1299d6;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #1299d6;
}
.ui-keyboard {
  top: auto;
  bottom: 20px;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, 0);
}

.btn-label {
  float: left;
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: left;
}

/* .btn {
          margin-bottom: 10px;
        } */

label {
  color: #066ab1;
  font-size: 24px;
  margin-left: 20px;
  float: left;
}

.btn-salir {
  background: #c449b2;
  color: white;
  width: 140px;
}
